*, *:before, *:after {
  box-sizing: border-box;
}

.form-label3{
     float: left;
    font-family: 'lato';
    font-size: 17px;
    color: #BABABA;
    
    
}


@media (min-width: 600px) {
  body {
    padding: 60px;
  }
}

.range-slider {
  margin: 20px 0 20px 0;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 2px;
  border-radius: 5px;
  background: #BABABA;
  outline: none;
  
  
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #31C6C7;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #31C6C7;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #31C6C7;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #31C6C7;
}
.range-slider__range:active::-moz-range-thumb {
  background: #31C6C7;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #31C6C7;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #31C6C7;
    font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  padding: 5px 10px;
  margin-left: 8px;
  border: 1px solid #707070;
    
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #707070;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
