@media screen and (max-height: 650px) {

	.patron1 + img,
	.patron2 + img,
	.patron3 + img,
	.patron4 + img{
		width: 5rem;
		height: 5rem;
		margin: 10px;
	}
}

.txtpatron{
	font-size: 1.1rem;
}
	.patron1 + img,
	.patron2 + img,
	.patron3 + img,
	.patron4 + img {
	
	fill: rgb(85, 85, 85);
	height: 7.6rem;
	width: 7.6rem;
	margin: 15px;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + img {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + img {
	cursor: pointer;
	
}
.patron1:hover + img,
.patron1:checked + img
 {
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #31C6C7;
	
	visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.patron2:hover + img,
.patron2:checked + img,
.patron2:focus + img {
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #31C6C7;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.patron3:hover + img,
.patron3:checked + img,
.patron3:focus + img {
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #31C6C7;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.patron4:hover + img,
.patron4:checked + img,
.patron4:focus + img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #31C6C7;
	
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}
