@media screen and (max-height: 650px) {

	.super-happy + svg,
	.happy + svg,
	.neutral + svg,
	.super-sad + svg,
	.sad + svg{
		width: 5rem;
		height: 5rem;
		margin: auto;
	}
}


@media (max-width: 572px) {
    .super-happy + svg,
	.happy + svg,
	.neutral + svg,
	.super-sad + svg,
	.sad + svg{
		width: 5rem;
		height: 5rem;
		margin: auto;
	}
  
	p.txtacontecimiento{
		font-size: 0.9rem;
	}

    
}

@media (max-width: 480px) {
    .super-happy + svg,
	.happy + svg,
	.neutral + svg,
	.super-sad + svg,
	.sad + svg{
		width: 3rem;
		height: 3rem;
		margin: auto;
	}
  
	p.txtacontecimiento{
		font-size: 0.9rem;
	}

    
}
@media (max-width: 320px) {
    
    .super-happy + svg,
	.happy + svg,
	.neutral + svg,
	.super-sad + svg,
	.sad + svg{
		width: 2rem;
		height: 2rem;
		margin: auto;
	}
  
	p.txtacontecimiento{
		font-size: 0.8rem;
	}    
}


.txtacontecimiento{
	font-size: 1.1rem;
}
svg {
	
	fill: #BABABA;
	height: 100px;
	width: 100px;
	margin: auto;
    border: 2px solid #BABABA;
    border-radius: 50px;
    background: #fff;
    margin: 5px;
    padding: 4px;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
	
}
.super-happy:hover + svg,
.super-happy:checked + svg,
.super-happy:focus + svg {
	fill: #31C6C7;
	visibility: visible;
    border: 2px solid #FDC134;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.happy:hover + svg,
.happy:checked + svg,
.happy:focus + svg {
	fill: #31C6C7;
    border: 2px solid #FDC134;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.neutral:hover + svg,
.neutral:checked + svg,
.neutral:focus + svg {
	fill: #31C6C7;
    border: 2px solid #FDC134;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.sad:hover + svg,
.sad:checked + svg,
.sad:focus + svg {
	fill: #31C6C7;
    border: 2px solid #FDC134;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

.super-sad:hover + svg,
.super-sad:checked + svg,
.super-sad:focus + svg {
	fill: #31C6C7;
    border: 2px solid #FDC134;
		visibility: visible;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-name: pulse;
	
}

